.summary {
    color: #808080;
    border-left: 5px solid  #02D35F;
    font-size:16px;
}


h3 {color: #DE0080; }
h4 {color: #5F5F5F; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #0D2C40;
}

.nav > li > a:hover {
    background-color:   #02D35F;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #02D35F;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #72ac4a;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color:  #24193B;
    border-color: #02D35F;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #02D35F;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #02D35F;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #72ac4a !important;
    border-width: thick;
}

.btn-primary {
    color: #ffffff;
    background-color:  #02D35F;
    border-color: #5b893c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #72ac4a;
    border-color: #5b893c;
}

.printTitle {
    color: #5b893c !important;
}

body.print h1 {color: #5b893c !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #4f7233;
}

div.sidebarTitle {
    color: #E50E51;
}

li.sidebarTitle {
    margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color:   #24193B;
    margin-bottom:10px;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #E50E51;
}

.label-success {
    background-color: #02D35F;
}