<footer class="footer">
  <p>Copyright (C) 2017-2018 <a href="https://gitlab.com/jcayouette/uyuni-prototype">Uyuni Project</a></p>
  <p>Testing Disclaimer...</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js -->
<script>
function focusSearchInput () { document.querySelector('#search-input').focus() }
var search = docsearch({
  appId: '3F9C504TVA',
  apiKey: '72c8bc420354328a066360837f11319e',
  indexName: 'uyuni-project',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: { hitsPerPage: 10 }
}).autocomplete
search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
focusSearchInput()
window.addEventListener('load', focusSearchInput)
</script>
