---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <h1 class="title" role="presentation">Get the Most out of SUSE Manager Documentation (BETA)</h1>
        <p class="subtitle">Contribute Now!</p>
        <a class="start-button" href="{{ '/documentation/getting-started/1_gs_intro-requirements.html' | relative_url }}" role="link">Get started</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">Elevate Your Documention!</h2>
        <p>Contributing to SUSE Manager documentation provides our writers with a substantial body of knowledge and hands on experience,
            while leveling up your access to in depth topics.</p>
    </section>

</article>
